.wallet-page {
    display: flex;
    flex-direction: column;
}

.wallet-title {
    color: olive;
    text-shadow: -1px 3px 0px rgba(159,159,159,0.3);
    font-size: 45px;
}

form {
    margin-bottom: 25px;
}

form button {
    margin: 15px;
}