.wallet-page {
    display: flex;
    flex-direction: column;
}

.title-container {
    display: flex;
    align-items: center;

}

.walletLogo {
    display: inline;
    height: 50px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.wallet-title {
    color: olive;
    text-shadow: -1px 3px 0px rgba(159,159,159,0.3);
    font-size: 45px;
}

form {
    margin-bottom: 25px;
}

form button {
    margin: 15px;
}

.add-btn {
    padding: 8px;
    border-radius: 30px;
}

.add-btn img {
    height: 25px;
    margin-bottom: -5px;
}

.add-btn:hover {
    border: 2px rgb(177, 177, 0) solid
}