table {
  text-align: center;
  /* overflow-x: scroll; */
}

thead, tr th {
  color: olive;
  border-collapse: collapse;
  padding: 5px 15px 15px;
}

th {
  width: 150px;
}

tbody tr, tb {
  border: none;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.delete-btn {
  background-color: brown;
  border-radius: 30px;
  padding: 5px;
  margin: 5px;
  height: 38px;
  width: 38px;
}

.delete-btn:hover {
  border: 2px solid rgb(205, 0, 0);
}

.delete-btn img {
  transform: rotate(45deg);
  height: 19px;
  margin-bottom: -3px;
}

.edit-btn:hover {
  border: 2px rgb(177, 177, 0) solid
}

.placeholder-row td {
  height: 60px;
}

