body {
  display: flex;
  justify-content: center;
  font-family: Helvetica;
  min-height: 70vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;

}

.input-container {
  display: inline;
  font-size: 20px;
  margin: 0 15px;
}

.input-container input {
  border: 1px solid darkgrey;
  border-radius: 10px;
  font-size: 22px;
  margin: 5px;
  padding: 5px;
  width: 250px;
}

.login-submit {
  background-color: olive;
  color: white;
  border: 1px solid darkgrey;
  border-radius: 10px;
  padding: 10px 25px;
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
}

.login-submit:hover {
  font-size: 20px;
}

.login-submit:disabled {
  background-color: darkgrey;
}
