body {
  display: flex;
  justify-content: center;
  font-family: Helvetica;
  min-height: 70vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;

}

.login-title {
  color: olive;
  text-shadow: -1px 3px 0px rgba(159,159,159,0.3);
  font-size: 40px;
}

.input-container {
  display: inline;
  font-size: 20px;
  margin: 0 15px;
}

.input-container input {
  border: none;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-size: 22px;
  margin: 5px;
  padding: 5px;
  width: 250px;
}

.login-submit {
  background-color: rgb(128, 128, 0, 0.8);
  color: white;
  border: 1px solid darkgrey;
  border-radius: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 10px 25px;
  font-size: 22px;
  margin-top: 20px;
}

.login-submit:hover {
  font-size: 20px;
}

.login-submit:disabled {
  background-color: darkgrey;
}
